<html>

<head>
</head>

<body>

  <h1>{{myVar}}</h1>
  <h2>Predictions</h2>

  <p>Input your data below to get back a prediction</p>


<form>
    data for prediction:<input type='text'>

</form>
<p id='predict_output'>prediction output </p>


<script src="/predict.js"  type="text/javascript"></script>

</body>
</html>
