<html>

<head>
</head>

<body>

  <h2>Train input</h2>

  <p>Input your data below to get back a prediction</p>


<form id="predictionForm">
    Name: <input id="name" type="text"><br>
    <br>
    Passenger Class:<input id="pclass" type="radio" name='passengerClass' value="1">1st<br>
    <input id="pclass" type="radio" name='passengerClass' value="2">2nd<br>
    <input id="pclass" type="radio" name='passengerClass' value="3">3rd <br>
    <br>
    Age: <input id="age" type="number" min="1" max="120"><br>
    <br>
    <br>
    Ticket: <input id="ticket" type="text"><br>
    <br>
    <br>
    Parch: <input id="parch" type="number" min="1" max="120"><br>
    <br>
    Number of Siblings on board: <input id="siblings" type="number" min="0" max="20"><br>
    <br>
    Fare: <input id="fare" type="number">
    Cabin: <input id="cabin" type="text">
    <br>
    <select id="embarked">
        <p>location of embarkment</p>
        <option value="C">Cherbourg</option>
        <option value="S">Southampton</option>
        <option value="Q">Queenstown</option>
    </select>
    <br>
    <br>

    Sex:<input id="sex" name="sex" type="radio" value="male">Male<br>
    <input id="sex" name="sex" type="radio" value="female">Female<br>
    <input id="label" type="radio" name="label" value="0">Died<br>
    <input id="label" type="radio" name="label" value="1">Lived<br>
    <br>
    <br>
    <input type="submit" value="Submit">
    <br>
</form>
<p id="trainOutput">train output </p>


<script src="/train.js"  type="text/javascript"></script>

</body>
</html>
